name: Java CI with Gradle and Coverage

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build and test with JaCoCo coverage
        run: ./gradlew clean test jacocoTestReport

      - name: Upload coverage report (HTML)
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-html
          path: build/reports/jacoco/test/html

      - name: Upload coverage XML
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-xml
          path: build/reports/jacoco/test/jacocoTestReport.xml

      - name: Show coverage % in GitHub Summary
        run: |
          echo "### Test Coverage" >> $GITHUB_STEP_SUMMARY
          COVERAGE=$(grep -oP '(?<=line-rate=")[0-9.]*' build/reports/jacoco/test/jacocoTestReport.xml | head -1)
          PERCENT=$(awk "BEGIN {print $COVERAGE * 100}")
          echo "Coverage: **$PERCENT%**" >> $GITHUB_STEP_SUMMARY


  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v4
